body {
    background-color: #000000;
    color: white;
}

h1 {
    color: white;
}

a  {
    color: #f6f6f6;
}

strong {
    color: #22D4FD;
}

.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}