* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    box-sizing: border-box; 
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
}